#hr{
    border:none;
    position: relative;
    height: 2px;
    background: black;
    top: 2.9em;
    width: 35em;
    left: 21.3em;
}
#heading{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    padding-left: 16px;
    padding-right: 16px;
    left: 16.3em;
    top: -24px;
    background-color: white;
    text-shadow: 3px 3px 5px rgb(192, 190, 190);
}
#fas1{
    position: absolute;
    color: rgb(240, 77, 12);
    font-size: 40px;
    left: 14.4em;
    top: 3.1em;
    transition: transform 0.1s;
}
.fas1:hover{
    transform: scale(1.05);
}
.back{
    position: absolute;
    font-size: 30px;
    color: rgb(58, 57, 57);
    top: 4.2em;
    left: 21.2em;
    transition: transform 0.1s;
}
.back:hover{
    transform: scale(1.08);
}
.card{
    position: relative;
    border: rgb(255, 72, 0) solid 1.5px;
    height: 450px;
    width: 390px;
    margin: auto;
    text-align: center;
    top: 13em;
    border-radius: 20px;
    margin-bottom: 300px;
    box-shadow: 10px 10px 18px rgb(211, 194, 194);
    transition: transform 0.1s;
}
.card:hover{
    transform: scale(1.02);
}
.head{
    width: 290px;
    height: 20px;
    text-align: center;
    margin-top: 16px;
    margin-left: 43px;
    font-size: 43px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(212, 46, 16);
}
#h2{
    border:none;
    position: relative;
    height: 1.2px;
    background: black;
    top: 2.4em;
    width: 19em;
    left: 5em;

}
.div1{
    position: relative;
    color: red;
    font-size: 30px;
    top: 3em;
    font-weight: 800;
}
.div2{
    position: relative;
    font-size: 30px;
    top: 4em;
    font-weight: 500;
}
#checkbox{
    height: 25px;
    width: 23px;
    vertical-align: -4px;
}
#fas2{
    position: absolute;
    color: tomato;
    right: 10px;
    bottom: 10px;
    font-size: 35px;
    text-shadow: 3px 3px 5px rgb(211, 194, 194);
}
@media screen and (max-width:425px) {
    #hr{
        display: none;
    }
    #heading{
        width: 17rem;
        font-size: 20px;
        padding: 0%;
        left: 5.3rem;
        top: 1.4rem;
    }
    .back{
        display: none;
    }
    #fas1{
        font-size: 37px;
        left: 1.8rem;
        top: 4rem;
    }
    .card{
        font-size: 20px;
        width: 85%;
        top: 10rem;
        left: 1.5rem;
        height: 17rem;
        margin: 0%;
        padding-top: 10px;
    }
    #h2{
        top: 2rem;
        width: 11.6rem;
    }
    .head{
        font-size: 33px;
        margin: 0%;
    }
    .div1{
        font-size: 20px;
    }
    .div2{
        font-size: 20px;
    }
}
@media screen and (min-width:700px) and (max-width:1100px) {
    #hr{
        display: none;
    }
    #heading{
        width: 80%;
        font-size: 42px;
        padding: 0%;
        left: 10rem;
        top: 2rem;
    }
    .back{
        font-size: 45px;
        left: 27rem;
        top: 14rem;
    }
    #fas1{
        font-size: 67px;
        left: 20rem;
        top: 14rem;
    }
    .head{
        font-size: 45px;
        width: 30rem;
    }
    #h2{
        width: 20rem;
        top: 4rem;
        left: 11rem;
        margin-bottom: 50px;
    }
    .card{
        font-size: 46px;
        width: 70%;
        height: 10rem;
        left: 7rem;
        margin: 0%;
        top: 21rem;
        height: 34rem;
    }
}