.blured{
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.box2{
    z-index: 1;
    position: absolute;
    border: solid 1.4px red;
    color: tomato;
    background-color: white;
    text-align: center;
    left: 24em;
    top: 13em;
    width: 38%;
    height: 40%;
    border-radius: 18px;
    box-shadow: 8px 8px 12px rgb(199, 180, 180);
}
#icon3{
    position: absolute;
    color: tomato;
    font-size: 34px;
    left: 10px;
    top: 10px;
}
#icon4{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: grey;
    font-size: 30px;
}
#text{
    border: tomato 1.5px solid;
    border-radius: 12px;
    color: tomato;
    width: 25em;
    height: 3em;
}
#bt{
    width: 6em;
    height: 2.6em;
    border: solid 1px tomato;
    color:white;
    background: tomato;
    border-radius: 17px;
    margin-top: 20px;
}
@media screen and (max-width:376px) {
    .box2{
        width: 78%;
        left: 2.3rem;
    }
    #text{
        width: 90%;
    }
}
@media screen and (min-width:377px) and (max-width:450px) {
    .box2{
        width: 82%;
        left: 2.3rem;
    }
    #text{
        width: 90%;
    }
}
@media screen and (min-width:700px) and (max-width:1100px) {
    .box2{
        font-size: 35px;
        width: 82%;
        left: 4rem;
        top: 20rem;
    }
    #text{
        width: 90%;
    }
}